<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>name</key>
			<string>1.红包转发</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>开始转发</string>
					<key>value</key>
					<string>开关</string>
				</dict>
				<dict>
					<key>name</key>
					<string>便捷按钮</string>
					<key>value</key>
					<string>开关</string>
				</dict>
				<dict>
					<key>name</key>
					<string>手动转发</string>
					<key>value</key>
					<string>开关</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>2.秒抢模式</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>本机秒抢</string>
					<key>value</key>
					<string>开关</string>
				</dict>
				<dict>
					<key>name</key>
					<string>转发包数</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
				<dict>
					<key>name</key>
					<string>扭转抢包数据</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>3.发包详情</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>红包个数</string>
					<key>value</key>
					<string>填写</string>
				</dict>
				<dict>
					<key>name</key>
					<string>红包金额</string>
					<key>value</key>
					<string>填写</string>
				</dict>
				<dict>
					<key>name</key>
					<string>自定义红包语</string>
					<key>value</key>
					<string>填写</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>4.基础设置</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>发送最大次数</string>
					<key>value</key>
					<string>填写</string>
				</dict>
				<dict>
					<key>name</key>
					<string>金额安全值</string>
					<key>value</key>
					<string>填写</string>
				</dict>
				<dict>
					<key>name</key>
					<string>小群ID</string>
					<key>value</key>
					<string>填写</string>
				</dict>
				<dict>
					<key>name</key>
					<string>转发到的群ID</string>
					<key>value</key>
					<string>填写</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>5.排雷玩法</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>排雷玩法</string>
					<key>value</key>
					<string>开关</string>
				</dict>
				<dict>
					<key>name</key>
					<string>玩法选择</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
				<dict>
					<key>name</key>
					<string>雷位置</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>6.接龙玩法</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>接龙玩法</string>
					<key>value</key>
					<string>开关</string>
				</dict>
				<dict>
					<key>name</key>
					<string>玩法规则</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
				<dict>
					<key>name</key>
					<string>规则选择</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
				<dict>
					<key>name</key>
					<string>转发条件</string>
					<key>value</key>
					<string>填写</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>7.牛牛玩法</string>
			<key>New item</key>
			<array>
				<dict>
					<key>name</key>
					<string>牛牛玩法</string>
					<key>value</key>
					<string>开关</string>
				</dict>
				<dict>
					<key>name</key>
					<string>玩法选择</string>
					<key>value</key>
					<string>选卡</string>
				</dict>
				<dict>
					<key>name</key>
					<string>转发牛值</string>
					<key>value</key>
					<string>填写</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>8.授权码</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>授权码</string>
					<key>value</key>
					<string>填写</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
